{% extends 'base.html' %}

{% block usuario %}
{{ request.user.username }}
{% endblock %}

{% block content %}
<style>
    .confirm:hover, .confirm:focus {
        color: white !important;
    }

    .sweet-alert > h2{
        font-size: 16px !important;
    }

    .sweet-alert > p {
        font-size: 14px;
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-bottom: 5% !important;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h3>Actualizar equipo</h3>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form id="formulario" method='POST' action=''>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="usuario" name="usuario" value="{{ request.user.username }}">
                                                    <input type="hidden" id="device" name="device" value="{{ device }}">
                                                    <input id="InventarioID" name="InventarioID" required value="{{ inventarioTraido.InventarioID }}" type="text" hidden="true"> <!--TIPO EQUIPO-->
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Código Alfanumérico</p>
                                                    <input id="CodigoInventario" name="CodigoInventario"  required="true" readonly value="{{ inventarioTraido.CodigoInventario }}" maxlength="200" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: GLBLOP-121290">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Categoría</p>
                                                    <select id="CategoriaID" name="CategoriaID" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for categorias in showCategorias %}
                                                        {% if categorias.CategoriaID == inventarioTraido.CategoriaID %}
                                                        <option selected value="{{ categorias.CategoriaID }}">{{ categorias.Categoria }}</option>
                                                        {% else %}
                                                        <option value="{{ categorias.CategoriaID }}">{{ categorias.Categoria }}</option>
                                                        {% endif%}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Fabricante</p>
                                                    <select id="FabricanteID" name="FabricanteID" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for fabricantes in showFabricantes %}
                                                        {% if fabricantes.FabricanteID == inventarioTraido.FabricanteID %}
                                                        {% if fabricantes.Activo == 1 %}
                                                        <option selected value="{{ fabricantes.FabricanteID }}">{{ fabricantes.Nombre }}</option>
                                                        {% else %}
                                                        <option selected value="{{ fabricantes.FabricanteID }}">Inactivo -- {{ fabricantes.Nombre }}</option>
                                                        {% endif%}
                                                        {% else %}
                                                        {% if fabricantes.Activo == 1 %}
                                                        <option value="{{ fabricantes.FabricanteID }}">{{ fabricantes.Nombre }}</option>
                                                        {% else %}
                                                        <option value="{{ fabricantes.FabricanteID }}">Inactivo -- {{ fabricantes.Nombre }}</option>
                                                        {% endif%}
                                                        {% endif%}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Modelo</p>
                                                    <input id="Modelo" name="Modelo" required="true" value="{{ inventarioTraido.Modelo }}" maxlength="50" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: Toshiba PS511U-20WYJJ">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Serie</p>
                                                    <input id="Serie" name="Serie" required="true" value="{{ inventarioTraido.Serie }}" maxlength="50" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: 43782-1212">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Estado</p>
                                                    <select id="EstadoID" name="EstadoID" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for estados in showEstados %}
                                                        {% if estados.EstadoID == inventarioTraido.EstadoID %}
                                                        <option selected value="{{ estados.EstadoID }}">{{ estados.Estado }}</option>
                                                        {% else %}
                                                        <option value="{{ estados.EstadoID }}">{{ estados.Estado }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Descripción</p>
                                                    <textarea id="Descripcion" name="Descripcion" maxlength="150" class="form-control" style="font-size: small;" placeholder="Describir color, tamaño u otras características relevantes del equipo...">{{ inventarioTraido.Descripcion }}</textarea>                                                
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Sucursal</p>
                                                    <select id="SucursalID" name="SucursalID" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for sucursales in showSucursales %}
                                                        {% if sucursales.SucursalID == inventarioTraido.SucursalID %}
                                                        {% if sucursales.Activo == 1 %}
                                                        <option selected value="{{ sucursales.SucursalID }}">{{ sucursales.Nombre }}</option>
                                                        {% else %}
                                                        <option selected value="{{ sucursales.SucursalID }}">Inactivo -- {{ sucursales.Nombre }}</option>
                                                        {% endif%}
                                                        {% else %}
                                                        {% if sucursales.Activo == 1 %}
                                                        <option value="{{ sucursales.SucursalID }}">{{ sucursales.Nombre }}</option>
                                                        {% else %}
                                                        <option value="{{ sucursales.SucursalID }}">Inactivo -- {{ sucursales.Nombre }}</option>
                                                        {% endif%}
                                                        {% endif%}
                                                        {% endfor %}
                                                    </select>                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Proveedor</p>
                                                    <select id="ProveedorID" name="ProveedorID" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for proveedores in showProveedores %}
                                                        {% if proveedores.ProveedorID == inventarioTraido.ProveedorID %}
                                                        {% if proveedores.Activo == 1 %}
                                                        <option selected value="{{ proveedores.ProveedorID }}">{{ proveedores.Nombre }}</option>
                                                        {% else %}
                                                        <option selected value="{{ proveedores.ProveedorID }}">Inactivo -- {{ proveedores.Nombre }}</option>
                                                        {% endif%}
                                                        {% else %}
                                                        {% if proveedores.Activo == 1 %}
                                                        <option value="{{ proveedores.ProveedorID }}">{{ proveedores.Nombre }}</option>
                                                        {% else %}
                                                        <option value="{{ proveedores.ProveedorID }}">Inactivo -- {{ proveedores.Nombre }}</option>
                                                        {% endif%}
                                                        {% endif%}
                                                        {% endfor %}
                                                    </select>                                                
                                                </div>
                                            </div> 
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Fecha de compra</p>
                                                    <input id="FechaCompra" name="FechaCompra" value='{{ inventarioTraido.FechaCompra|date:"Y-m-d" }}' required="true" type="date" class="form-control input-flat" style="font-size: small;">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Fecha de último soporte</p>
                                                    <input id="FechaUltimoSoporte" name="FechaUltimoSoporte" value='{{ inventarioTraido.FechaUltimoSoporte|date:"Y-m-d" }}' type="date" class="form-control input-flat" style="font-size: small;">
                                                </div>
                                            </div>                    
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Código único del equipo</p>
                                                    <div>
                                                        <input id="CodigoBarra" required name="CodigoBarra" maxlength="200" type="text" hidden="true" value="{{ inventarioTraido.CodigoBarra}}"> <!--CODIGO A GUARDAR-->
                                                    </div>
                                                    <div id="divImagenCodigo" class="form-group" style="text-align: center;">
                                                        {% load static %}
                                                        <img id="imagenCodigo" src="" 
                                                        style="max-height: 180px;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Observaciones</p>
                                                    <textarea id="Notas" name="Notas" class="form-control" rows="8" style="height: 100%; font-size: small;" placeholder="Observaciones que desee agregar sobre el equipo...">{{ inventarioTraido.Notas}}</textarea>                                                
                                                </div>
                                            </div> 
                                            <div class="col-lg-4 mt-5">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">El equipo está asignado a:</p>
                                                    <input id="AsignadoA" name="AsignadoA" readonly value="{{ inventarioTraido.AsignadoNombre }}" maxlength="200" type="text" class="form-control input-flat" style="font-size: small; text-align: center;" placeholder="No está asignado a ningún empleado actualmente.">
                                                </div>
                                            </div> 
                                        </div> 
                                        <div class="row">
                                            <div class="col-lg-8" style="text-align: right;">
                                                <div class="form-group">
                                                    {% if inventarioTraido.EstadoID != 2 %}
                                                    <button type="button" onclick="desactivarEquipo()" class="btn btn-danger" style="min-width: 250px;">Desactivar equipo</button>    
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-4" style="text-align: right;">
                                                <div class="form-group">
                                                    <input type="submit" id="validate" hidden/>
                                                    <button type="button" onclick="validaciones()" class="btn btn-success btn sweet-confirm" style="min-width: 250px;">Actualizar equipo</button>    
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% load static %}  
<script>
    var ruta = "{% static 'codes/' %}"
    $(document).ready(function(){
        var img = document.createElement("IMG");
        var nombre = document.getElementById("CodigoBarra").value;
        const childToReplace = document.getElementById("imagenCodigo");
        var padre = childToReplace.parentNode;
        img.src = ruta + "Cod-"+ nombre + ".png";
        img.style.maxHeight = '180px';
        img.style.maxWidth = '280px';
        img.id = 'imagenCodigo';
        img.className = 'center'
        padre.replaceChild(img, childToReplace);
    });
</script>
<script src="{% static 'js/equipo.js' %}"></script>
{% endblock %}