{% extends 'base.html' %}

{% block content %}
<style>
    .confirm:hover, .confirm:focus {
        color: white !important;
    }

    .sweet-alert > h2{
        font-size: 16px !important;
    }

    .sweet-alert > p {
        font-size: 14px;
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-bottom: 5% !important;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" style="margin-bottom: 171px;">
                            <div class="card-title">
                                <h3>Actualizar sucursal</h3>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form id="formulario" method='POST' action='' onkeydown="return event.key != 'Enter';">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="usuario" name="usuario" value="{{ request.session.Usuario }}">
                                                    <input type="hidden" id="device" name="device" value="{{ device }}">
                                                    <input id="SucursalID" name="SucursalID" required value="{{ sucursalTraida.SucursalID }}" type="text" hidden="true">
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Nombre de la sucursal</p>
                                                    <input id="Nombre" name="Nombre"  required="true" value="{{ sucursalTraida.Nombre }}" maxlength="100" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: Bulevar Morazán">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Estado</p>
                                                    <select id="Activo" name="Activo" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% if sucursalTraida.Activo == 1 %}
                                                        <option selected value="1">Activo</option>
                                                        <option value="0">Inactivo</option>
                                                        {% else %}
                                                        <option value="1">Activo</option>
                                                        <option selected value="0">Inactivo</option>
                                                        {% endif %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Dirección</p>
                                                    <input id="Direccion" name="Direccion" required="true" value="{{ sucursalTraida.Direccion }}" maxlength="200" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: Bulevar Morazán, frente a restaurante Pizza Hut.">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8" style="text-align: right;">
                                                <div class="form-group">
                                                    {% if sucursalTraida.Activo != 0 %}
                                                    <button type="button" onclick="desactivarSucursal()" class="btn btn-danger" style="min-width: 250px;">Desactivar sucursal</button>    
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-4" style="text-align: right;">
                                                <div class="form-group">
                                                    <input type="submit" id="validate" hidden/>
                                                    <button type="button" onclick="validaciones()" class="btn btn-success btn sweet-confirm" style="min-width: 250px;">Actualizar sucursal</button>    
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <div class="footer">
                        <p style="text-align: center;">2023 © <b>PoMoMin</b>. Creado por <b>Miriam Mondragón.</b></p>
                      </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% load static %} 
<script src="{% static 'js/sucursal.js' %}"></script>
{% endblock %}