{% extends 'base.html' %}

{% block usuario %}
{{ request.user.username }}
{% endblock %}

{% block content %}
<style>
    .confirm:hover, .confirm:focus {
        color: white !important;
    }

    .sweet-alert > h2{
        font-size: 16px !important;
    }

    .sweet-alert > p {
        font-size: 14px;
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-bottom: 5% !important;
    }
</style>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h3>Actualizar empleado</h3>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form id="formulario" method='POST' action=''>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="usuario" name="usuario" value="{{ request.user.username }}">
                                                    <input type="hidden" id="device" name="device" value="{{ device }}">
                                                    <input id="EmpleadoID" name="EmpleadoID" type="hidden" value="{{ empleadoTraido.EmpleadoID }}">
                                                    <input id="PuestoIDEmpleado" name="PuestoIDEmpleado" type="hidden" value="{{ empleadoTraido.PuestoID }}">
                                                    <input id="ReportaAEmpleado" name="ReportaAEmpleado" type="hidden" value="{{ empleadoTraido.ReportaA }}">
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Nombres</p>
                                                    <input id="Nombres" name="Nombres"  required="true" value="{{ empleadoTraido.Nombres }}" maxlength="100" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: Juan Pablo">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Apellidos</p>
                                                    <input id="Apellidos" name="Apellidos"  required="true" value="{{ empleadoTraido.Apellidos }}" maxlength="100" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: Montes Aguilera">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Número de identidad</p>
                                                    <input id="Identificacion" name="Identificacion"  value="{{ empleadoTraido.Identificacion }}" required="true" data-placeholder="____-____-_____" data-slots="_" maxlength="100" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: 0801-1992-11232">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Sucursal</p>
                                                    <select id="SucursalID" name="SucursalID" onchange="cargarJefes()" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for sucursales in showSucursales %}
                                                        {% if sucursales.SucursalID == empleadoTraido.SucursalID %}
                                                        {% if sucursales.Activo == 1 %}
                                                        <option selected value="{{ sucursales.SucursalID }}">{{ sucursales.Nombre }}</option>
                                                        {% else %}
                                                        <option selected value="{{ sucursales.SucursalID }}">Inactivo -- {{ sucursales.Nombre }}</option>
                                                        {% endif%}
                                                        {% else %}
                                                        {% if sucursales.Activo == 1 %}
                                                        <option value="{{ sucursales.SucursalID }}">{{ sucursales.Nombre }}</option>
                                                        {% else %}
                                                        <option value="{{ sucursales.SucursalID }}">Inactivo -- {{ sucursales.Nombre }}</option>
                                                        {% endif%}
                                                        {% endif%}
                                                        {% endfor %}
                                                    </select>                                                
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Departamento</p>
                                                    <select id="DepartamentoID" name="DepartamentoID" onchange="cargarPuestos()" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for departamentos in showDepartamentos %}
                                                        {% if departamentos.DepartamentoID == empleadoTraido.DepartamentoID %}
                                                        <option selected value="{{ departamentos.DepartamentoID }}">{{ departamentos.Nombre }}</option>
                                                        {% else %}
                                                        <option value="{{ departamentos.DepartamentoID }}">{{ departamentos.Nombre }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>                                                
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Puesto</p>
                                                    <select id="PuestoID" name="PuestoID" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        <option value="">--Debe seleccionar un departamento para seleccionar un puesto--</option>
                                                    </select>                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Jefe inmediato o de área</p>
                                                    <select id="ReportaA" name="ReportaA" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        <option value="Ninguno">Ninguno</option>
                                                    </select>                                                
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Número de celular</p>
                                                    <input id="TelefonoCelular" name="TelefonoCelular" value="{{ empleadoTraido.TelefonoCelular }}" data-placeholder="____-____" data-slots="_" maxlength="100" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: 9999-2324">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Extensión o teléfono de trabajo</p>
                                                    <input id="TelefonoTrabajo" name="TelefonoTrabajo" value="{{ empleadoTraido.TelefonoTrabajo }}" maxlength="100" type="number" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: 10003">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Dirección</p>
                                                    <input id="Direccion" name="Direccion"  value="{{ empleadoTraido.Direccion }}" maxlength="150" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Dirección de residencia de empleado (opcional)">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Género</p>
                                                    <select id="Genero" name="Genero" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% if empleadoTraido.Genero == 'M' %}
                                                        <option selected value="M">Masculino</option>
                                                        <option value="F">Femenino</option>
                                                        <option value="N/A">No Aplica</option>
                                                        <option value="OTRO">Otro</option>
                                                        {% elif empleadoTraido.Genero == 'F' %}
                                                        <option value="M">Masculino</option>
                                                        <option selected value="F">Femenino</option>
                                                        <option value="N/A">No Aplica</option>
                                                        <option value="OTRO">Otro</option>
                                                        {% elif empleadoTraido.Genero == 'N/A' %}
                                                        <option value="M">Masculino</option>
                                                        <option value="F">Femenino</option>
                                                        <option selected value="N/A">No Aplica</option>
                                                        <option value="OTRO">Otro</option>
                                                        {% elif empleadoTraido.Genero == 'OTRO' %}
                                                        <option value="M">Masculino</option>
                                                        <option value="F">Femenino</option>
                                                        <option selected value="N/A">No Aplica</option>
                                                        <option value="OTRO">Otro</option>
                                                        {% endif %}
                                                    </select>                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="row">
                                                    <div class="col-lg-6 p-1">
                                                        <div class="form-group">
                                                            <p class="text-muted m-b-15 f-s-12">Fecha de nacimiento</p>
                                                            <input id="FechaNacimiento" name="FechaNacimiento" value='{{ empleadoTraido.FechaNacimiento|date:"Y-m-d" }}' required="true" type="date" class="form-control input-flat" style="font-size: small;">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 p-1">
                                                        <div class="form-group">
                                                            <p class="text-muted m-b-15 f-s-12">Fecha de contratación</p>
                                                            <input id="FechaAlta" name="FechaAlta" value='{{ empleadoTraido.FechaAlta|date:"Y-m-d" }}' required type="date" class="form-control input-flat" style="font-size: small;">
                                                        </div>
                                                    </div>    
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-6 p-1">
                                                        <div class="form-group">
                                                            <p class="text-muted m-b-15 f-s-12">Estado</p>
                                                            <select id="EstadoID" name="EstadoID" required="true" onchange="permitirBaja()" class="form-control input-flat" style="font-size: small;">
                                                                <option value="">Seleccione una opción</option>
                                                                {% for estados in showEstados %}
                                                                {% if estados.EstadoID == empleadoTraido.EstadoID %}
                                                                <option selected value="{{ estados.EstadoID }}">{{ estados.Estado }}</option>
                                                                {% else %}
                                                                <option value="{{ estados.EstadoID }}">{{ estados.Estado }}</option>
                                                                {% endif %}
                                                                {% endfor %}
                                                            </select>                                                
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 p-1">
                                                        <div class="form-group">
                                                            <p class="text-muted m-b-15 f-s-12">Fecha de baja</p>
                                                            <input id="FechaBaja" name="FechaBaja" value='{{ empleadoTraido.FechaBaja|date:"Y-m-d" }}' readonly type="date" class="form-control input-flat" style="font-size: small;">
                                                        </div>
                                                    </div>   
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Observaciones</p>
                                                    <textarea id="Notas" name="Notas" class="form-control" rows="7" style="height: 100%; font-size: small;" placeholder="Observaciones que desee agregar sobre el empleado...">{{ empleadoTraido.Notas }}</textarea>                                                
                                                </div>   
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8" style="text-align: right;">
                                                <div class="form-group">
                                                    {% if empleadoTraido.EstadoID != 2 %}
                                                    <button type="button" onclick="desactivarEmpleado()" class="btn btn-danger" style="min-width: 250px;">Desactivar empleado</button>    
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-4" style="text-align: right;">
                                                <div class="form-group">
                                                    <input type="submit" id="validate" hidden/>
                                                    <button type="button" onclick="validaciones()" class="btn btn-success btn sweet-confirm" style="min-width: 250px;">Actualizar empleado</button>    
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% load static %}  
<script src="{% static 'js/empleados.js' %}"></script>
{% endblock %}