{% extends 'base.html' %}

{% block content %}
<style>
    body:not(.modal-open){
        padding-right: 0px !important;
    }

    .modal-open{
        padding-right: 0px !important;
    }
    
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: #343957 !important;
        opacity: 90% !important;
        border: #343957 !important;
        background-color: white !important;
        background: white !important;
        background: white !important;
        background: white !important;
        background: white !important;
        background: white !important;
        background: white !important;
        box-shadow: none !important;
    }

    .page-item.active .page-link {
        color: white !important;
        background-color: white !important;
        border-color: white !important;
        box-shadow: none !important;
    }

    .pagination > li > a
    {
        background-color: white !important;
        color: #343957 !important;
        opacity: 90% !important;
    }

    .pagination > li > a:focus,
    .pagination > li > span:focus
    {
        color: white !important;
    }

    .pagination > .active > a
    {
        color: white !important;
        background-color: #343957 !important;
        border: #343957 !important;
        opacity: 90% !important;
    }

    .pagination > li.next > a:focus,
    .pagination > li.next > span:focus,
    .pagination > li.previous > a:focus,
    .pagination > li.previous > span:focus {
        color: #343957 !important;
    }

    .pagination > .active > a:hover
    {
        color: white !important;
        background-color: #343957 !important;
        border: #343957 !important;
        opacity: 90% !important;
    }

    table, th, td {
        border: 1px solid #dddddd !important;
    }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% load static %}  
<link href="{% static 'css/lib/data-table/dataTables.bootstrap.min1.css' %}" rel="stylesheet" />

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" style="min-height: 650px;">
                            <div class="modal" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="card-body">
                                            <div id="qr-reader"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="detener()" id="btnModal" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Cerrar</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-title">
                                <div class="col-lg-4">
                                <h3>Buscar equipo</h3>
                            </div>
                            <div class="col-lg-8 mt-2" style="text-align: right;">
                                <button type="button" onclick="encender()" class="btn btn-success" data-backdrop="false" data-toggle="modal" data-target="#myModal" style="min-width: 250px; font-size: 13px; border: #343957; background-color: #343957; opacity: 90%;">Buscar por código de barras o QR</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="TablaEquipo" cellspacing="0" class="table table-hover table-bordered  table-sm no-spacing" style="font-size:85%;">
                                    <thead style="background-color: #343957; opacity: 90%; color: white;">
                                        <tr>
                                            <th style="color: white;">Código Alfanumérico</th>
                                            <th style="color: white;">Categoría</th>
                                            <th style="color: white;">Modelo</th>
                                            <th style="color: white; text-align: left;">Serie</th>
                                            <th style="color: white; text-align: left;">Sucursal</th>
                                            <th style="color: white; text-align: center; max-width: 80px;">Asignado</th>
                                            <th style="color: white; text-align: center; max-width: 130px;">Estado</th>
                                            {% if  request.session.PerfilID != 3 %}
                                            <th style="color: white; text-align: center; width: 10px;">Editar</th>
                                            {% endif %}
                                        </tdr>
                                    </thead>
                                    <tbody>
                                        {% for inventario in showInventario %}
                                        <tr>
                                            <td>{{ inventario.CodigoInventario }}</td>
                                            <td>{{ inventario.Categoria }}</td>
                                            <td>{{ inventario.Modelo }}</td>
                                            <td>{{ inventario.Serie }}</td>
                                            <td>{{ inventario.Sucursal }}</td>
                                            <td style=" text-align: center;">
                                                {% if inventario.AsignadoA is None %}
                                                <span class="badge badge-success" style="background-color: #03a9f4; text-transform: initial; font-size: 95%; min-width: 80px;">Sin Asignar</span>
                                                {% else %}
                                                <span class="badge badge-warning" style="background-color: #c3aaa9; text-transform: initial; font-size: 95%; min-width: 80px;">Ya Asignado</span>
                                                {% endif %}
                                            </td>
                                            <td style=" text-align: center;">
                                                {% if inventario.EstadoID == 1 %}
                                                <span class="badge badge-success" style="background-color: #28a745; text-transform: initial; font-size: 95%; min-width: 120px;">{{ inventario.Estado }}</span>
                                                {% elif inventario.EstadoID == 2 %}
                                                <span class="badge badge-primary" style="text-transform: initial; font-size: 95%; min-width: 120px;">{{ inventario.Estado }}</span>
                                                {% elif inventario.EstadoID == 3 %}
                                                <span class="badge badge-warning" style="background-color: #e7b63a; text-transform: initial; font-size: 95%; min-width: 120px;">{{ inventario.Estado }}</span>
                                                {% endif %}
                                            </td>
                                            {% if  request.session.PerfilID != 3 %}
                                            <td style="text-align: center;">
                                                <a href="{% url 'actualizarEquipo' id=inventario.InventarioID  %}">
                                                    <i class="ti-pencil-alt"></i>
                                                </a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row ml-1 mr-1">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <a href="{% url 'reporteEquipo' %}" target="_blank">
                                            <button type="button" class="btn btn-outline-secondary btn-sm" style="min-width: 250px; font-size: 13px; border: #343957; background-color: #343957; opacity: 90%; color: white;">Reporte de equipo a la fecha</button>    
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-8" style="text-align: right;">
                                    <div class="form-group">
                                        <a href="{% url 'reporteEquipoSucursal' %}" target="_blank">
                                            <button type="button" class="btn btn-outline-secondary btn-sm" style="min-width: 250px; font-size: 13px; border: #343957; background-color: #343957; opacity: 90%; color: white;">Reporte de asignaciones por sucursal</button>    
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <div class="footer">
                        <p style="text-align: center;">2023 © <b>PoMoMin</b>. Creado por <b>Miriam Mondragón.</b></p>
                      </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% load static %}  
<script src="{% static 'js/equipo.js' %}"></script>
<script src="{% static 'js/html5-qrcode.min.js' %}"></script>
<script>
    function onScanSuccess(decodedText, decodedResult) {
        if(decodedText.charAt(0) == 'B'){
            document.getElementById('barraBusqueda').value = decodedText.substring(1);
            $('#barraBusqueda').keyup();
        } else {
            document.getElementById('barraBusqueda').value = decodedText.substring(2);
            $('#barraBusqueda').keyup();
        }
        document.getElementById("btnModal").click();
    }

    var html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader", { fps: 10, qrbox: 250 });

    function encender(){
        html5QrcodeScanner.render(onScanSuccess);
    }
    
    function detener(){
        document.getElementById('html5-qrcode-button-camera-stop').click();
    }  
    
</script>
{% endblock %}