{% extends 'base.html' %}

{% block content %}
<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: #343957 !important;
        opacity: 90% !important;
        border: #343957 !important;
        background-color: white !important;
        background: white !important;
        background: white !important;
        background: white !important;
        background: white !important;
        background: white !important;
        background: white !important;
        box-shadow: none !important;
    }

    .page-item.active .page-link {
        color: white !important;
        background-color: white !important;
        border-color: white !important;
        box-shadow: none !important;
    }

    .pagination > li > a
    {
        background-color: white !important;
        color: #343957 !important;
        opacity: 90% !important;
    }

    .pagination > li > a:focus,
    .pagination > li > span:focus
    {
        color: white !important;
    }

    .pagination > .active > a
    {
        color: white !important;
        background-color: #343957 !important;
        border: #343957 !important;
        opacity: 90% !important;
    }

    .pagination > li.next > a:focus,
    .pagination > li.next > span:focus,
    .pagination > li.previous > a:focus,
    .pagination > li.previous > span:focus {
        color: #343957 !important;
    }

    .pagination > .active > a:hover
    {
        color: white !important;
        background-color: #343957 !important;
        border: #343957 !important;
        opacity: 90% !important;
    }

    table, th, td {
        border: 1px solid #dddddd !important;
    }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% load static %}  
<link href="{% static 'css/lib/data-table/dataTables.bootstrap.min1.css' %}" rel="stylesheet" />

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" style="min-height: 650px;">
                            <div class="card-title">
                                <div class="col-lg-4">
                                    <h3>Buscar fabricante</h3>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table id="TablaFabricante" cellspacing="0" class="table table-hover table-bordered  table-sm no-spacing" style="font-size:85%;">
                                        <thead style="background-color: #343957; opacity: 90%; color: white;">
                                            <tr>
                                                <th style="color: white;">Nombre</th>
                                                <th style="color: white;">Descripción</th>
                                                <th style="color: white; text-align: center; max-width: 80px;">Estado</th>
                                                <th style="color: white; text-align: center; width: 10px;">Editar</th>
                                            </tdr>
                                        </thead>
                                        <tbody>
                                            {% for fabricante in showFabricantes %}
                                            <tr>
                                                <td>{{ fabricante.Nombre }}</td>
                                                <td>{{ fabricante.Descripcion }}</td>
                                                <td style=" text-align: center;">
                                                    {% if fabricante.Activo == 1 %}
                                                    <span class="badge badge-success" style="background-color: #28a745; text-transform: initial; font-size: 95%; min-width: 70px;">Activo</span>
                                                    {% elif fabricante.Activo == 0 %}
                                                    <span class="badge badge-primary" style="text-transform: initial; font-size: 95%; min-width: 70px;">Inactivo</span>
                                                    {% endif %}
                                                </td>
                                                <td style="text-align: center;">
                                                    <a href="{% url 'actualizarFabricante' id=fabricante.FabricanteID  %}">
                                                        <i class="ti-pencil-alt"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>    
                        </div>        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <div class="footer">
                        <p style="text-align: center;">2023 © <b>PoMoMin</b>. Creado por <b>Miriam Mondragón.</b></p>
                      </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% load static %}  
<script src="{% static 'js/fabricante.js' %}"></script>
{% endblock %}