{% extends 'base.html' %}

{% block content %}
<style>
    body:not(.modal-open){
        padding-right: 0px !important;
    }

    .modal-open{
        padding-right: 0px !important;
    }

    #TablaEmpleadosDes_filter {
        display: none;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: #343957 !important;
        opacity: 90% !important;
        border: #343957 !important;
        background-color: white !important;
        background: white !important;
        background: white !important;
        background: white !important;
        background: white !important;
        background: white !important;
        background: white !important;
        box-shadow: none !important;
    }

    .page-item.active .page-link {
        color: white !important;
        background-color: white !important;
        border-color: white !important;
        box-shadow: none !important;
    }

    .pagination > li > a
    {
        background-color: white !important;
        color: #343957 !important;
        opacity: 90% !important;
    }

    .pagination > li > a:focus,
    .pagination > li > span:focus
    {
        color: white !important;
    }

    .pagination > .active > a
    {
        color: white !important;
        background-color: #343957 !important;
        border: #343957 !important;
        opacity: 90% !important;
    }

    .pagination > li.next > a:focus,
    .pagination > li.next > span:focus,
    .pagination > li.previous > a:focus,
    .pagination > li.previous > span:focus {
        color: #343957 !important;
    }

    .pagination > .active > a:hover
    {
        color: white !important;
        background-color: #343957 !important;
        border: #343957 !important;
        opacity: 90% !important;
    }

    table, th, td {
        border: 1px solid #dddddd !important;
    }

    #inventarioSeleccionado {
        text-align: center;
    }

</style>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

{% load static %}  
<link href="{% static 'css/lib/data-table/dataTables.bootstrap.min1.css' %}" rel="stylesheet" />

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card" style="min-height: 650px;">
                            <div class="modal" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="card-body">
                                            <div id="qr-reader"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="detener()" id="btnModal" class="btn btn-outline-secondary btn-sm" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="card-title">
                                <div class="col-lg-4">
                                <h3>Desasignar inventario</h3>
                            </div>
                            <div class="col-lg-8 mt-2" style="text-align: right;">
                                <button type="button" onclick="encender()" class="btn btn-success" data-backdrop="false" data-toggle="modal" data-target="#myModal" style="min-width: 250px; font-size: 13px; border: #343957; background-color: #343957; opacity: 90%;">Buscar por código de barras o QR</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <p class="text-muted f-s-12 mt-4 ml-3" style="margin-bottom: -6%;">Equipo o mobiliario</p>
                                <table id="TablaEquipoDes" cellspacing="0" class="table table-hover table-bordered  table-sm no-spacing" style="font-size:85%;">
                                    <thead style="background-color: #343957; opacity: 90%; color: white;">
                                        <tr>
                                            <th style="color: white; text-align: center; width: 5px;"></th>
                                            <th style="color: white;">Código Alfanumérico</th>
                                            <th style="color: white;">Categoría</th>
                                            <th style="color: white; min-width: 250px;">Descripción</th>
                                            <th style="color: white; text-align: center;">Asignado</th>
                                            <th style="color: white; text-align: left;">Sucursal</th> 
                                            <th style="color: white; text-align: center; max-width: 130px;">Estado</th>
                                        </tdr>
                                    </thead>
                                    <tbody id="cuerpoTablaDes">
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <p class="text-muted f-s-12 mt-3 ml-3" style="margin-bottom: -2%;">Empleado al que está asignado el inventario</p>
                                <table id="TablaEmpleadosDes" cellspacing="0" class="table table-hover table-bordered  table-sm no-spacing" style="font-size:85%;">
                                    <thead style="background-color: #343957; opacity: 90%; color: white;">
                                        <tr>
                                            <th style="color: white; width: 105px;">No. Identidad</th>
                                            <th style="color: white; width: 180px;">Nombre Completo</th>
                                            <th style="color: white; width: 190px;">Departamento</th>
                                            <th style="color: white; text-align: left;">Puesto</th>
                                            <th style="color: white; text-align: left; width: 90px;">Sucursal</th> 
                                            <th style="color: white; text-align: center; width: 80px;">Estado</th>
                                        </tdr>
                                    </thead>
                                    <tbody id="cuerpoTablaEDes">
                                        
                                    </tbody>
                                </table>
                            </div>
                            <div class="row ml-1 mr-1">
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                {% csrf_token %}
                                                <input type="hidden" id="usuario" name="usuario" value="{{ request.session.Usuario }}">
                                                <input type="hidden" id="device" name="device" value="{{ device }}">
                                                <input type="text" name="InventarioID" id="InventarioID" hidden value="">
                                                <input type="text" name="EmpleadoID" id="EmpleadoID" hidden value="">
                                                <p class="text-muted m-b-15 f-s-12">Motivo de desasignación</p>
                                                <select id="MotivoID" name="MotivoID" onchange="escribirDescripcion()" required="true" class="form-control input-flat" style="font-size: small;">
                                                    <option value="">Seleccione una opción</option>
                                                    {% for motivos in showMotivos %}
                                                    {% if motivos.MotivoID != 9 %}
                                                    <option value="{{ motivos.MotivoID }}">{{ motivos.Motivo }}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>                                                
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <p class="text-muted m-b-15 f-s-12">Fecha de asignación  (mes/día/año)</p>
                                                <input id="FechaAsignacion" name="FechaAsignacion" readonly type="date" class="form-control input-flat" style="font-size: small;">
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <p class="text-muted m-b-15 f-s-12" style="margin-top: 2%;">Observaciones</p>
                                        <textarea id="Notas" name="Notas" class="form-control" rows="7" style="height: 100%; font-size: small;" placeholder="Observaciones que desee agregar sobre la asignación del inventario..."></textarea>                                                
                                    </div>
                                </div>  
                                <div class="col-lg-4">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <p class="text-muted m-b-15 f-s-12">Fecha de desasignación (Hoy)</p>
                                                <input id="FechaDesasignacion" name="FechaDesasignacion" readonly type="date" class="form-control input-flat" style="font-size: small;">
                                            </div>
                                        </div>
                                        <div class="col-lg-12" style="text-align: right; margin-top: 35px;">
                                            <button type="button" onclick="desasignarInventario()" class="btn btn-danger" style="min-width: 250px;">Desasignar</button>
                                        </div>
                                    </div>
                                </div>                    
                            </div>
                        </div>            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <div class="footer">
                        <p style="text-align: center;">2023 © <b>PoMoMin</b>. Creado por <b>Miriam Mondragón.</b></p>
                      </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% load static %}  
<script src="{% static 'js/inventariodes.js' %}"></script>
<script src="{% static 'js/html5-qrcode.min.js' %}"></script>
<script>
    function onScanSuccess(decodedText, decodedResult) {
        if(decodedText.charAt(0) == 'B'){
            document.getElementById('barraBusquedaDes').value = decodedText.substring(1);
            $('#barraBusquedaDes').keyup();
        } else {
            document.getElementById('barraBusquedaDes').value = decodedText.substring(2);
            $('#barraBusquedaDes').keyup();
        }
        document.getElementById("btnModal").click();
    }

    var html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader", { fps: 10, qrbox: 250 });

    function encender(){
        html5QrcodeScanner.render(onScanSuccess);
    }
    
    function detener(){
        document.getElementById('html5-qrcode-button-camera-stop').click();
    }  

    function escribirDescripcion(){
        var motivoID = document.getElementById("MotivoID").value;
        if(motivoID == 3) {
            document.getElementById("Notas").value = "{% for motivos in showMotivos %}{% if motivos.MotivoID == 3 %}{{ motivos.Descripcion }}{% endif%}{% endfor %}"
        } else if(motivoID == 4) {
            document.getElementById("Notas").value = "{% for motivos in showMotivos %}{% if motivos.MotivoID == 4 %}{{ motivos.Descripcion }}{% endif%}{% endfor %}"    
        } else if(motivoID == 8) {
            document.getElementById("Notas").value = "{% for motivos in showMotivos %}{% if motivos.MotivoID == 8 %}{{ motivos.Descripcion }}{% endif%}{% endfor %}"
        } else {
            document.getElementById("Notas").value = ""
        }
    }

    $(document).ready(function(){
        var today = new Date();
        var dd = String(today.getDate()).padStart(2, '0');
        var mm = String(today.getMonth() + 1).padStart(2, '0'); //Los meses en JS van del 0 hasta el 11, igual que mi IQ
        var yyyy = today.getFullYear();
        document.getElementById("FechaDesasignacion").value = yyyy + '-' + mm + '-' + dd;
    });

</script>
{% endblock %}
