{% extends 'base.html' %}

{% block usuario %}
{{ request.user.username }}
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h3>Escanear código</h3>
                                <button type="button" onclick="encender()" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
                                <input type="text" id="pruebita">
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">
                                
                                  <!-- Modal content-->
                                  <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Escáner con cámara</h4>
                                        <button type="button" class="close" onclick="detener()" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card-body">
                                            <div id="qr-reader"></div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" onclick="detener()" id="btnModal" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% load static %}
<script src="{% static 'js/html5-qrcode.min.js' %}"></script>
<script>
    function onScanSuccess(decodedText, decodedResult) {
        var inputBuscar = document.getElementById("pruebita").value;
        if(decodedText.charAt(0) == 'B'){
            document.getElementById("pruebita").value = decodedText.substring(1);
        } else {
            document.getElementById("pruebita").value = decodedText.substring(2);
        }
        document.getElementById("btnModal").click();
    }

    var html5QrcodeScanner = new Html5QrcodeScanner(
            "qr-reader", { fps: 10, qrbox: 250 });

    function encender(){
        html5QrcodeScanner.render(onScanSuccess);
    }
    
    function detener(){
        document.getElementById('html5-qrcode-button-camera-stop').click();
    }  
    
</script>

{% endblock %}