{% extends 'base.html' %}

{% block content %}

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-desktop color-success border-success"></i>
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Equipos Libres</div>
                                    <div class="stat-digit">{{ conteoEquipoDisponible }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-archive color-primary border-primary"></i>
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Mobiliario Libre</div>
                                    <div class="stat-digit">{{ conteoMobiliarioDisponible }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-support color-warning border-warning"></i>
                                </div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Espera soporte</div>
                                    <div class="stat-digit">{{ conteoSoporte }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="card">
                            <div class="stat-widget-one">
                                <div class="stat-icon dib"><i class="ti-minus color-danger border-danger"></i></div>
                                <div class="stat-content dib">
                                    <div class="stat-text">Bajas (Diario)</div>
                                    <div class="stat-digit">{{ conteoBajas }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card">
                            <div class="card-title">
                                <h4>Reporte de asignaciones/desasignaciones semanal</h4>
                            </div>
                            <div class="card-body">
                                <canvas id="asignacionesBarChart"></canvas>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="card">
                            <div class="card-title">
                                <h4>Reporte de estado de inventario</h4>
                            </div>
                            <div class="card-body">
                                <canvas id="estadosDonutChart" style="margin-left: 5px; margin-top: 15px; margin-bottom: 20px; text-align: center;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-body" style="margin-top: -3%;">
                                <div class="year-calendar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="card">
                            <div class="card-title">
                                <h4>Tareas</h4>
                            </div>
                            <div class="todo-list">
                                <div class="tdl-holder">
                                    <div class="tdl-content">
                                        <ul>
                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i></i><span>Iniciar sesión en el sistema</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox"><i></i><span>Revisar trabajo pendiente</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i></i><span>Reunión de inicio de día</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox"><i></i><span>Dar mantenimiento a equipo TELIP89257721</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>

                                            <li>
                                                <label>
                                                    <input type="checkbox" checked><i></i><span>Desactivar mobiliario en mal estado</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                            <li>
                                                <label>
                                                    <input type="checkbox"><i></i><span>Trasladar mobiliario de sucursal Principal a Las Cascadas</span>
                                                    <a href='#' class="ti-close"></a>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <input type="text" id="listInput" class="tdl-new form-control"
                                        placeholder="Escriba una nueva tarea y presione 'Enter'...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <div class="footer">
                        <p style="text-align: center;">2023 © <b>PoMoMin</b>. Creado por <b>Miriam Mondragón.</b></p>
                      </div>
                    </div>
                </div>
            </section>
            </div>
        </div>
    </div>
</div>
{% load static %}

<!--  Chartjs -->
<script src="{% static 'js/lib/chart-js/Chart.bundle.js' %}"></script>

<script>
    //Limpiar data de asignaciones
    var asignaciones = "{{ asignacionesSemanal }}";
    var asignacionesSem = asignaciones.substring(1);
    var asignacionesSemanal = asignacionesSem.split(",").map(function(item) {
        return parseInt(item, 10);
    });

    //Limpiar data de desasignaciones
    var desasignaciones = "{{ desasignacionesSemanal }}";
    var desasignacionesSem = desasignaciones.substring(1);
    var desasignacionesSemanal = desasignacionesSem.split(",").map(function(item) {
        return parseInt(item, 10);
    });

    //Variable de max scale para el grafico
    Array.prototype.max = function() {
        return Math.max.apply(null, this);
    };
    var maxA = asignacionesSemanal.max()
    var maxD = desasignacionesSemanal.max()
    var suggestedMax = 10
    if(maxA >= maxD){
        if(maxA > 9){
            suggestedMax = maxA
            suggestedMax += 1
        }
    }else{
        if(maxD > 9){
            suggestedMax = maxD
            suggestedMax += 1
        }
    }


    //Crear grafico de barras
    var asignacionesBarChart = document.getElementById("asignacionesBarChart");

    var asignaciones = {
    label: 'Asignaciones',
    data: asignacionesSemanal,
    backgroundColor: 'rgba(94,189,116,255)',
    borderColor: "rgba(94,189,116,255)",
    yAxisID: "y-axis-asignaciones"
    };
    
    var desasignaciones = {
    label: 'Desasignaciones',
    data: desasignacionesSemanal,
    backgroundColor: 'rgba(229,104,116,255)',
    borderColor: 'rgba(229,104,116,255)',
    yAxisID: "y-axis-desasignaciones"
    };
    
    var diasData = {
    labels: ["Domingo", "Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado"],
    datasets: [asignaciones, desasignaciones]
    };
    
    var chartOptions = {
    scales: {
        xAxes: [{
        barPercentage: 1,
        categoryPercentage: 0.6
        }],
        yAxes: [
        {display: false, id: "y-axis-asignaciones", ticks: { suggestedMin: 10, suggestedMax: suggestedMax}}, 
        {display: true, id: "y-axis-desasignaciones", ticks: { suggestedMin: 10, suggestedMax: suggestedMax}}]
    }
    };
    
    var barChart = new Chart(asignacionesBarChart, {
    type: 'bar',
    data: diasData,
    options: chartOptions,
    });
</script>

<script>
    //Limpiar data de asignaciones
    var estado = "{{ estadoInventario }}";
    var estadoInv = estado.substring(1);
    var estadoInventario = estadoInv.split(",").map(function(item) {
        return parseInt(item, 10);
    });


    //Crear grafico de dona
    var estadosDonutChart = document.getElementById("estadosDonutChart");

    const data = {
        labels: [
            'En uso',
            'Disponible',
            'En espera de soporte'
        ],
        datasets: [{
            label: 'Datos diarios',
            data: estadoInventario,
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
    };
    
    var pieChart = new Chart(estadosDonutChart, {
    type: 'doughnut',
    data: data,
    });
</script>
{% endblock %}
