{% extends 'base.html' %}

{% block content %}
<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>

<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h3>Registrar equipo</h3>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form id="formulario" method='POST' action='' onkeydown="return event.key != 'Enter';">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="usuario" name="usuario" value="{{ request.session.Usuario }}">
                                                    <input type="hidden" id="device" name="device" value="{{ device }}">
                                                    <input id="TipoInventarioID" name="TipoInventarioID" required value="1" type="text" hidden="true"> <!--TIPO EQUIPO-->
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Código Alfanumérico</p>
                                                    <input id="CodigoInventario" name="CodigoInventario"  required="true" onchange="generarQR()" maxlength="200" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: GLBLOP-121290">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Categoría</p>
                                                    <select id="CategoriaID" name="CategoriaID" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for categorias in showCategorias %}
                                                        <option value="{{ categorias.CategoriaID }}">{{ categorias.Categoria }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Fabricante</p>
                                                    <select id="FabricanteID" name="FabricanteID" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for fabricantes in showFabricantes %}
                                                        <option value="{{ fabricantes.FabricanteID }}">{{ fabricantes.Nombre }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Modelo</p>
                                                    <input id="Modelo" name="Modelo" required="true" maxlength="50" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: Toshiba PS511U-20WYJJ">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Serie</p>
                                                    <input id="Serie" name="Serie" required="true" maxlength="50" type="text" class="form-control input-flat" style="font-size: small;" placeholder="Ejemplo: 43782-1212">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Estado</p>
                                                    <select id="EstadoID" name="EstadoID" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for estados in showEstados %}
                                                        <option value="{{ estados.EstadoID }}">{{ estados.Estado }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Descripción</p>
                                                    <textarea id="Descripcion" name="Descripcion" maxlength="150" class="form-control" style="font-size: small;" placeholder="Describir color, tamaño u otras características relevantes del equipo..."></textarea>                                                
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Sucursal</p>
                                                    <select id="SucursalID" name="SucursalID" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for sucursales in showSucursales %}
                                                        <option value="{{ sucursales.SucursalID }}">{{ sucursales.Nombre }}</option>
                                                        {% endfor %}
                                                    </select>                                                
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Proveedor</p>
                                                    <select id="ProveedorID" name="ProveedorID" required="true" class="form-control input-flat" style="font-size: small;">
                                                        <option value="">Seleccione una opción</option>
                                                        {% for proveedores in showProveedores %}
                                                        <option value="{{ proveedores.ProveedorID }}">{{ proveedores.Nombre }}</option>
                                                        {% endfor %}
                                                    </select>                                                
                                                </div>
                                            </div> 
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Fecha de compra</p>
                                                    <input id="FechaCompra" name="FechaCompra" required="true" type="date" class="form-control input-flat" style="font-size: small;">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Fecha de último soporte</p>
                                                    <input id="FechaUltimoSoporte" name="FechaUltimoSoporte" type="date" class="form-control input-flat" style="font-size: small;">
                                                </div>
                                            </div>                    
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Generación de Códigos</p>
                                                    <div style="text-align: center;">
                                                        <button onclick="generarQR()" type="button" class="btn btn-secondary mb-3 mt-4" style="min-width: 250px; font-size: 14px;">Generar código QR</button>
                                                        <button onclick="generarBarras()" type="button" class="btn btn-secondary mb-3 mt-3" style="min-width: 250px; font-size: 14px;">Generar código de Barras</button>
                                                        <input id="CodigoBarra" required name="CodigoBarra" maxlength="200" type="text" hidden="true" value="sincodigo"> <!--CODIGO A GUARDAR-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 mt-3">
                                                <div id="divImagenCodigo" class="form-group" style="text-align: center;">
                                                    {% load static %}
                                                    <img id="imagenCodigo" src="{% static 'codes/noCode.PNG' %}" 
                                                    style="max-height: 180px;">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Observaciones</p>
                                                    <textarea id="Notas" name="Notas" class="form-control" rows="7" style="height: 100%; font-size: small;" placeholder="Observaciones que desee agregar sobre el equipo..."></textarea>                                                
                                                </div>
                                            </div>   
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12" style="text-align: right;">
                                                <input type="submit" id="validate" hidden/>
                                                <button type="button" onclick="insertarEquipo()" class="btn btn-success" style="min-width: 250px;">Registrar equipo</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <div class="footer">
                        <p style="text-align: center;">2023 © <b>PoMoMin</b>. Creado por <b>Miriam Mondragón.</b></p>
                      </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% load static %}  
<script>var ruta = "{% static 'codes/' %}"</script>
<script src="{% static 'js/equipo.js' %}"></script>
{% endblock %}