{% extends 'base.html' %}

{% block content %}
<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>


<div class="content-wrap">
    <div class="main">
        <div class="container-fluid">
            <section id="main-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-title">
                                <h3>Ver detalles del registro</h3>
                            </div>
                            <div class="card-body">
                                <div class="basic-form">
                                    <form id="formulario" method='POST' action=''>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">No. Registro</p>
                                                    <input id="NoRegistro" name="NoRegistro"  required="true" readonly value="{{ registroTraido.NoRegistro }}" maxlength="200" type="text" class="form-control input-flat" style="font-size: small;">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Usuario que realizó el evento</p>
                                                    <input id="Usuario" name="Usuario"  required="true" readonly value="{{ registroTraido.Usuario }}" maxlength="200" type="text" class="form-control input-flat" style="font-size: small;">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12 mt-3">Fecha y hora del evento</p>
                                                    <input id="FechaHoraEvento" name="FechaHoraEvento" readonly value='{{ registroTraido.FechaHoraEvento|date:"Y-m-d H:i" }}' required="true" type="datetime-local" class="form-control input-flat" style="font-size: small;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Tipo de evento</p>
                                                    {% if registroTraido.TipoEvento == 'INSERT' %}
                                                    <input id="TipoEvento" name="TipoEvento" readonly value="Inserción" maxlength="50" type="text" class="form-control input-flat" style="font-size: small;">
                                                    {% elif registroTraido.TipoEvento == 'UPDATE' %}
                                                    <input id="TipoEvento" name="TipoEvento" readonly value="Actualización" maxlength="50" type="text" class="form-control input-flat" style="font-size: small;">
                                                    {% elif registroTraido.TipoEvento == 'DEACTIVATE' %}
                                                    <input id="TipoEvento" name="TipoEvento" readonly value="Desactivación" maxlength="50" type="text" class="form-control input-flat" style="font-size: small;">
                                                    {% elif registroTraido.TipoEvento == 'ASIGNACION' %}
                                                    <input id="TipoEvento" name="TipoEvento" readonly value="Asignación" maxlength="50" type="text" class="form-control input-flat" style="font-size: small;">
                                                    {% elif registroTraido.TipoEvento == 'DESASIGNACION' %}
                                                    <input id="TipoEvento" name="TipoEvento" readonly value="Desasignación" maxlength="50" type="text" class="form-control input-flat" style="font-size: small;">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Estado del evento</p>
                                                    {% if registroTraido.EstadoEvento == 'COMPLETADO EXITOSAMENTE' %}
                                                    <input id="Estado" name="Estado" readonly value="Completado" maxlength="50" type="text" class="form-control input-flat" style="font-size: small;">
                                                    {% else %}
                                                    <input id="Estado" name="Estado" readonly value="No completado" maxlength="50" type="text" class="form-control input-flat" style="font-size: small;">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Dispositivo</p>
                                                    <input id="Dispositivo" name="Dispositivo" readonly value="{{ registroTraido.Dispositivo }}" maxlength="200" type="text" class="form-control input-flat" style="font-size: small;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <p class="text-muted m-b-15 f-s-12">Descripción del evento</p>
                                                    <textarea id="Descripcion" readonly name="Descripcion" class="form-control" rows="8" style="height: 100%; font-size: small;">{{ registroTraido.Descripcion}}</textarea>                                                
                                                </div>
                                            </div> 
                                        </div> 
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <div class="footer">
                        <p style="text-align: center;">2023 © <b>PoMoMin</b>. Creado por <b>Miriam Mondragón.</b></p>
                      </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% load static %}  
<script>
    var ruta = "{% static 'codes/' %}"
    $(document).ready(function(){
        var img = document.createElement("IMG");
        var nombre = document.getElementById("CodigoBarra").value;
        const childToReplace = document.getElementById("imagenCodigo");
        var padre = childToReplace.parentNode;
        img.src = ruta + "Cod-"+ nombre + ".png";
        img.style.maxHeight = '180px';
        img.style.maxWidth = '280px';
        img.id = 'imagenCodigo';
        img.className = 'center'
        padre.replaceChild(img, childToReplace);
    });
</script>
<script src="{% static 'js/equipo.js' %}"></script>
{% endblock %}